.checkbox_container {
  position: relative !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.checkbox {
  position: absolute;
  height: 20px;
  width: 20px;
  opacity: 0;
  cursor: pointer;

}

label {
  display: inline-flex;
}

.checkbox+label::before {
  content: '';
  display: inline-block;
  align-self: center;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.25em;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

}

.checkbox,
.round+label::before {
  border-radius: 50%;
}

.checkbox:checked+label::before {
  background-image: url("./../../../utils/checked.png");
  background-size: cover;
}