
.input{
    
}
.full{
    display: block;
    min-width: 100%;
}

/* size */
.small {
    font-size: 1rem;
    padding: 13px;
}
.medium {
    padding: 15px 20px;
    font-size: 1.5rem;
}
.large {
    padding: 20px 30px;
    font-size: 2rem;
}

/* type */
.smooth {
    border-radius: 15px;
}
.square {
    border-radius: 7px;
}
.round {
    border-radius: 40px
}




